/*----------------
    DEBUG
------------------*/
.debug .container {
    border: 2px dashed blueviolet;
}

.debug .row .col {
    border: 2px dashed lightcoral;
    background-color: rgba(240, 128, 128, 0.2);
    min-height: 200px;
}

/*----------------
    RESET
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------
    COMMONS
------------------*/
.img-fluid {
    max-width: 100%;
}

/*----------------
    LAYOUT
------------------*/
.container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    /* padding-left: 20px;
    padding-right: 20px; */
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.gap-10 {
    gap: 10px;
}
.gap-20 {
    gap: 20px;
}
.gap-30 {
    gap: 30px;
}

/*.col {
    flex-grow: 1;
}*/

.big{
    display: flex;
    height: calc(100% - 90px);
}

/*----------------
    TYPOGRAPHY
------------------*/
body {
    font-family: "Montserrat", sans-serif;
    height: 100vh;
}

/*----------------
    BUTTONS
------------------*/
.btn {
    background-color: #808080;
    font-family: inherit;
    border: none;
    padding: 0px 6px;
    cursor: pointer;
    
}

.x{
    background-color: transparent;
    border-radius: 30px;
    color: white;
    padding: 10px 30px;

}

.btn-large {
    padding: 10px 20px;
    font-size: 16px;
}

.btn-primary {
    background-color: lightcoral;
    color: #fff;
}

/*----------------
    HEADER
------------------*/
header{
    width: 50px;
    flex-shrink: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    
}

.logo-small{
    padding: 10px 10px;
}

.logo-large{
    display: none;
    padding: 20px 0;
    padding-left: 9px;
    width: 150px;
}

.header-nav{
    padding-left: 2px;
}

.header-nav li span{
    display: none;
    padding-left: 8px;
    font-size: 13px;
}

.header-nav li{
    padding: 5px 10px;
    display: flex;
    align-items: center;
    list-style: none;
}

.header-nav li img{
    height: 26px;
}

.playlist{
    flex-grow: 1;
    padding: 10px;
    color: #808080;
}

.playlist h3, .playlist button,
.playlist span, .playlist ul{
    display: none;
}

.playlist h3{
    color: white;
    padding: 10px 0;
}

.playlist button{
    font-size: 24px;
}

.playlist span{
    padding-left: 8px;
}

.playlist ul{
    padding-top: 14px;
}

.playlist li{
    padding: 8px 0;
    font-size: 13px;
}

.header-bottom{
    display: flex;
    flex-wrap: wrap;
    color: white;
    margin-bottom: 10px;
    justify-content: center;
}

.header-bottom div{
    display: flex;
    align-items: center;
}

.download img{
    height: 18px;
}

.user-profile img{
    height: 26px;
}

.download span{
    display: none;
    padding: 0px 10px;
    color: #808080;
    font-size: 13px;
}

.user-profile span{
    display: none;
    padding: 0px 10px;
}

.download{
    padding-bottom: 10px;
    padding-right: 5px;

}

.user-profile{
    padding-top: 10px;;
}

.user-profile img{
    padding: 2px;
    background-color: #808080;
    border-radius: 50%;
    height: 30px;
}



/*----------------
    MAIN
------------------*/
main{
    flex-grow: 1;
    background-color: #141922;
    overflow-y: auto;
}

.banner{
    background-color: #080b12;
    position: sticky;
    top: 0;
    right: 0;
    height: 82px;
}

.banner button{
    position: absolute;
    top: 12px;
    right: 4px;
}

.main-navbar{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    width: 100%;
    flex-wrap: wrap;
    
}

.main-navbar a{
    text-decoration: none;
    color: #808080;
    font-size: 12px;
}

.album h3, .created h3, .popular h3{
    color: #fff;
    padding: 30px 0;
}

.album, .created, .popular{
    margin: 0px 16px;
}

.album .col{
    width: calc((100% /2) - 24px);
}

.title-album h4{
    color: #fff;
    text-align: center;
    padding: 6px 0;
}

.title-album p{
    color: #808080;
    text-align: center;
    font-size: 12px;
    padding-bottom: 8px;
}

.created .col{
    width: calc((100% /2) - 24px);
}

.created h3{
    color: #fff;
    padding-bottom: 6px;
}

.created p{
    color: #808080;
    padding-bottom: 20px;
    font-size: 13px;
}

.popular .col{
    width: calc((100% /2) - 24px);
}

.popular h3{
    color: #fff;
    padding-bottom: 6px;
}

.popular p{
    color: #808080;
    padding-bottom: 20px;
    font-size: 13px;
}

.popular .art img{
    border-radius: 50%;
}


/*----------------
    FOOTER
------------------*/
footer{
    height: 90px;
    background-color: #282828;
}

/*----------------
    RESPONSIVE
------------------*/

/*Small Devices*/
@media screen and (min-width: 576px) {
    header {
        width: 240px;
        flex-shrink: 0;
    }

    .logo-small{
        display: none;
    }

    .logo-large{
        display: block;
       
    }

    .header-nav li span{
        display: inline;
        color: white;
    }

    .playlist h3, .playlist button,
    .playlist span, .playlist ul{
        display: inline-block;
    }

    .header-bottom{
        padding-left: 10px;
        padding-right: 10px;
    }

    .download span, .user-profile span{
        display: inline-block;
    }

    .download{
        width: 100%;
        border-bottom: 1px solid #808080
        
    }

    .user-profile{
        width: 100%;
        
    }

}

/*Medium Devices*/

@media screen and (min-width: 640px) {

    .album .col{
        width: calc((100% /3) - 24px);
    }

    .created .col{
        width: calc((100% /3) - 24px);
    }

    .popular .col{
        width: calc((100% /3) - 24px);
    }
    
}

/*Large Devices*/

@media screen and (min-width: 876px) {

    .album .col{
        width: calc((100% /6) - 24px);
    }
    
    .created .col{
        width: calc((100% /6) - 24px);
    }

    .popular .col{
        width: calc((100% /6) - 24px);
    }
    
}




